  body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      block-size: 100vh;
      background-color: #f2f2f2;
    }

    .calculadora {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    footer {
      text-align: center;
    }

    input, button {
      padding: 10px;
      margin: 5px;
      font-size: 18px;
      inline-size: 120px;
      box-sizing: border-box;
    }

    button {
      padding: 10px 15px;
      margin: 5px;
      font-size: 18px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    button:hover {
      background-color: 0056b3;

    }
    #resultado {
      margin-block-start: 10px;
      font-weight: bold;
    }

    